@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --color-main-heading: #097e8dfe;
  --color-btn: rgb(12, 138, 121);
  --color-box-shadow: #dad9d9ea;
  --color-dark: #d8d3d3ea;
  --color-light: rgb(12, 172, 150);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
